{% extends 'base.html.twig' %}

{% block title %}Ateliers{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Atelier</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('ateliers_create') }}">Créer</a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Places max</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for atelier in list_ateliers %}
                <tr>
                    <td>{{ atelier.title }}</td>
                    <td>{{ atelier.description }}</td>
                    <td>{{ atelier.placesMax }}</td>
                    <td>
                        <a href="{{ path('ateliers_show', {'id': atelier.id}) }}">Voir</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('ateliers_update', {'id': atelier.id}) }}">Modifier</a>
                            <a href="{{ path('ateliers_delete', {'id': atelier.id}) }}">Supprimer</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas d'ateliers</td>
                </tr>
            {% endfor %}
        </tbody>    
</div>
{% endblock %}
