{% extends "base.html.twig" %}

{% block title %}{{ atelier.title }}{% endblock %}

{% block body %}
<main class="mt-5">
    <div class="container">
        <div class="row">

            <h1>{{ atelier.title }}</h1>

            <p>{{ atelier.description }}</p>
            
            <p>Place max :{{ atelier.placesMax }}</p>


            <h2>Inscription</h2>

            {{form(form)}}   
        
        </div>
    
    </div>

</main>

{% endblock %}