{% extends "base.html.twig" %}

{% block title %}{{ atelier.title }}{% endblock %}

{% block body %}

<main class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ atelier.title }}</h1>
                <p>{{ atelier.description }}</p>
                <p>Places max: {{ atelier.placesMax }}</p>
                <p>Participants: {{ atelier.participants | length }} </p>

                {% if atelier.participants | length  >= atelier.placesMax %}

                    <p>Plus de place disponible.</p>

                {% else %}
                    <p>Il reste {{ atelier.placesMax - (atelier.participants | length) }} place(s) disponible(s).</p>
                    <a href="{{ path('ateliers_inscription', {'id': atelier.id}) }}" class="btn btn-outline-primary">S'inscrire</a>
                    
                {% endif %}
            </div>
        </div>
        
        <div class="row">
            <div class="text-center">
                <a href="{{ path('ateliers_index') }}" class="btn btn-outline-primary">Accueil atelier</a>
            </div>
        
        </div>
    
    </div>
</main>

{% endblock %}